.Page{
  padding-top: 150px; /* Adds space at the top */

}

.Text1{
  display: block; /* Makes sure the input fields are block elements */
  margin: 10px auto; /* Centers the input fields horizontally and adds vertical spacing */
  width: 70%; /* Sets the width of the input field */
  max-width: 300px; /* Prevents the input fields from stretching too wide */
  padding: 10px 20px; /* Adds padding to the inputs */
  border-radius: 30px; /* Rounded corners for the input fields */
  border: 1px solid #ccc; /* border for the inputs */
  background-color: #f8f8f8; /* Light background color for the input */
  color: #333; /* Dark text color for visibility */
  font-size: 16px; /* font size */
  outline: none; /* Removes the outline */
}

.SubmitButton {
  padding: 10px 20px; /* padding for button size */
  border-radius: 30px; /* made the value high for an oval shape */
  border: none; /* No default border */
  background-color: #007bff; /* Background color of the button */
  color: white; /* Text color */
  font-size: 16px; /* Font Size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  outline: none; /* Removes the outline */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.SubmitButton:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.List{
  text-align: left;

  width: 70%; /* width of the input field */
  max-width: 300px; /* Prevents the input fields from stretching too wide */
  padding: 10px 20px; /* Adds padding to the inputs */
  border-radius: 30px; /* Rounded corners for the input fields */
  border: 1px solid #ccc; /* border  */
  background-color: rgb(181, 218, 249); /* background color */
  color: #000000; /* Text Color  */
  font-size: 16px; /* font size */
  outline: none; /* Removes the outline */
}

nav {
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
  width: 100%;
  text-align: center; 
  overflow: visible;
}

.NavText {
  padding: 10px 20px;
  color: white;
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Makes text bold */
}

.Nav2 {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #000000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  justify-content: center;
}

.BG1 {

  width: 100%; /* full width */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover; /* Cover the available space without losing aspect ratio */
  height: calc(100vh - 180px); /* Subtract the combined height of the two navbars */
}